.leader {
  display: flex;
  padding: 5em 4em 3em 3em;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6em;
  align-self: stretch;
  width: 100%;
  height: 300px;
  flex-grow: 1;
}

.img_container {
  height: 90%;
  width: 100%;
  background: var(--primary-color);
}
  
.leader p {
  font-size: 1.6rem;
  line-height: 24px;
  color: #4C4C4D;
  font-weight: 500;
}

@media screen and (min-width: 600px) {
  .leader {
    width: calc(50% - 4em);
  }
}
  
  
@media screen and (min-width: 992px) {
  .leader {
    width: calc(30% - 2em);
    height: 250px;
    padding: 6em 4em 4em 4em;
  }
}