.benefit {
  display: flex;
  padding: 5em 4em 3em 3em;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6em;
  align-self: stretch;
  border-radius: 10px;
  border: 2px solid var(--header-bg);
  background: var(--white-color);
  box-shadow: 4px 4px 0px 1px var(--white-color);
  flex-grow: 1;
}

/* .benefit h6 {
  font-size: 2.2rem;
  line-height: 28px;
} */

.benefit p {
  font-size: 1.6rem;
  line-height: 24px;
  color: #4C4C4D;
  font-weight: 500;
}

@media screen and (min-width: 600px) {
  .benefit {
    width: calc(50% - 4em);
  }
}


@media screen and (min-width: 992px) {
  .benefit {
    width: calc(30% - 2em);
    padding: 6em 4em 4em 4em;
  }
}
