
.faculty_details h1 {
  text-transform: capitalize;
  margin-bottom: 2rem;
}
  
.dept_list_item {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
  
.dept_list_item::before {
  content: "\2022";
  color: var(--yellow-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
  