* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 62.5%;
  font-family: var(--font-outfit);
  line-height: 24px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
  position: relative;
  word-spacing: 5px;
}

h1 {
  font-size: 5em;
  line-height: 50px;
}

h2 {
  font-size: 4em;
  line-height: 40px;
}

h4 {
  font-size: 2em;
  line-height: 20px;
}

h6 {
  font-size: 3em;
  line-height: 28px;
}

/* FLEX */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-col-xs {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-items-center-xs {
  align-items: center;
}

/* END OF FLEX */


/* GRID */

.grid {
  display: grid;
}

.grid-template-columns-xs {
  grid-template-columns: minmax(0, 1fr);
}

.grid-template-columns-xs-repeat {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-auto-columns {
  grid-auto-columns: minmax(0, 1fr);
}

.grid-column-gap-one {
  column-gap: 40px;
}

.grid-row-gap-one {
  row-gap: 40px;
}

.grid-column-gap-two {
  column-gap: 50px;
}

.grid-align-self {
  align-self: stretch;
}

/* END GRID */


/* TEXT */

.text {
  color: #333;
}

.text-black {
  color: #1a1a1a;
}

.type-200 {
  font-size: 16px;
  line-height: 24px;
}

.type-300 {
  font-size: 20px;
  line-height: 30px;
}

.type-400 {
  font-size: 38px;
  line-height: 49.4px;
}

.type-xs {
  font-weight: 500;
}

.type-md {
  font-weight: 700;
}

.type-start-center {
  text-align: center;
}

.text-center-xs {
  text-align: center;
}

.text-center {
  text-align: center;
}
 
/* END TEXT */


/* CARD */

.card {
  position: relative;
}

.card-small {
  width: max-content;
}

.card-rounded-all {
  border-radius: 8px;
}

.card-box-shadow {
  box-shadow: 4px 4px 0px 2px var(--header-bg);
}

.card-border::before {
  z-index: 200;
  border: 2px solid var(--header-bg);
  block-size: 100%;
  border-radius: 6px;
  content: " ";
  display: block;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  pointer-events: none;
  position: absolute;
}

/* CARD */


/* HEADING */


.heading {
  color: #1a1a1a;
}

.heading-5 {
  font-size: 48px;
  line-height: 62.4px;
  font-weight: 700;
}

/* HEADING */


.row {
  padding-inline: 3em;
}

.xs-padding-block {
  padding-block: 6em;
}

.xs-padding-block-start {
  padding-block-start: 6em;
}

.xs-padding-block-end {
  padding-block-end: 6em;
}

.xs-padding-inline {
  padding-inline: 3em;
}

.xs-padding-inline-start {
  padding-inline: 3em;
}

.xs-padding-inline-end {
  padding-inline: 3em;
}

.spacing-padding-xs-block-size-one {
  padding-block: 50px;
}

.spacing-padding-xs-size-one {
  padding: 40px;
}

.spacing-padding-xs-inline-size-one {
  padding-inline: 30px;
}

.spacing-padding-xs-inline-size-two {
  padding-inline: 40px;
}

.spacing-padding-xs-block,
.spacing-padding-xs-blockstart,
.spacing-padding-xs-blockend {
  padding-block: 10px;
}

.spacing-padding-md-inline,
.spacing-padding-md-block,
.spacing-padding-md-blockstart,
.spacing-padding-md-blockend {
  padding-inline: 20px;
}

.spacing-margin-xs-blockend-xs {
  margin-block-end: 14px;
}

.spacing-margin-blockend-xs-size-one {
  margin-block-end: 50px;
}

.spacing-margin-size-one {
  margin-block-end: 50px;
}

.spacing-margin-xs-inline {
  margin-inline: 16px;
}

.spacing-margin-xs-blockstart {
  margin-block-start: 40px;
}

.spacing-margin-xs-blockend {
  margin-block-end: 40px;
}

@media screen and (min-width: 768px) {
  
  .spacing-padding-sm-block-size-one {
    padding-block: 80px;
  }
  
  .spacing-padding-sm-inline-size-one{
    padding-inline: 100px;
  }

  .row {
    padding-inline: 6em;
  }

  .sm-padding-block-start {
    padding-block-start: 8em;
  }

  .sm-padding-block-end {
    padding-block-end: 8em;
  }

  .sm-padding-block {
    padding-block: 8em;
  }

  .sm-padding-inline {
    padding-inline: 6em;
  }

  .sm-padding-inline-start {
    padding-inline: 6em;
  }

  .sm-padding-inline-end {
    padding-inline: 6em;
  }
}


@media screen and (min-width: 991px) {
  .flex-col-md {
    flex-direction: column;
  }

  .align-items-center-md {
    align-items: center;
  }

  .align-items-start-md {
    align-items: flex-start;
  }


  .grid-template-columns-md-repeat {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* SPACING */

  .spacing-padding-md-size-one {
    padding: 50px;
  }
  .spacing-padding-md-block-size-one {
    padding-block: 100px;
  }
  
  .spacing-padding-md-block-size-two {
    padding-block: 50px;
  }
  
  .spacing-padding-md-inline-size-one {
    padding-inline: 80px;
  }

  .spacing-padding-md-inline-size-two {
    padding-inline: 50px;
  }

  .spacing-margin-blockend-md-size-one {
    margin-block-end: 80px;
  }

  .spacing-margin-md-inline {
    margin-inline: 80px;
  }

  /* END SPACING */

  .text-center-md {
    text-align: center;
  }

  .text-start-md {
    text-align: left;
  }

  .row {
    padding-inline: 8em;
  }
}


@media screen and (min-width: 1024px) {
  .row {
    padding-inline: 3em;
  }
}