* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 62.5%;
  font-family: var(--font-outfit);
  line-height: 24px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
}

.row {
  padding-inline: 3em;
}

@media screen and (min-width: 768px) {
  .row {
    padding-inline: 6em;
  }
}


@media screen and (min-width: 991px) {
  .row {
    padding-inline: 8em;
  }
}


@media screen and (min-width: 1024px) {
  .row {
    padding-inline: 3em;
  }
}