* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 62.5%;
  font-family: var(--font-outfit);
  line-height: 24px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
  position: relative;
  word-spacing: 5px;
}

h1 {
  font-size: 5em;
  line-height: 50px;
}

h2 {
  font-size: 4em;
  line-height: 40px;
}

h4 {
  font-size: 2em;
  line-height: 20px;
}

h6 {
  font-size: 3em;
  line-height: 28px;
}

.row {
  padding-inline: 3em;
}

.xs-padding-block {
  padding-block: 6em;
}

.xs-padding-block-start {
  padding-block-start: 6em;
}

.xs-padding-block-end {
  padding-block-end: 6em;
}

.xs-padding-inline {
  padding-inline: 3em;
}

.xs-padding-inline-start {
  padding-inline: 3em;
}

.xs-padding-inline-end {
  padding-inline: 3em;
}

@media screen and (min-width: 768px) {
  .row {
    padding-inline: 6em;
  }

  .sm-padding-block-start {
    padding-block-start: 8em;
  }

  .sm-padding-block-end {
    padding-block-end: 8em;
  }

  .sm-padding-block {
    padding-block: 8em;
  }

  .sm-padding-inline {
    padding-inline: 6em;
  }

  .sm-padding-inline-start {
    padding-inline: 6em;
  }

  .sm-padding-inline-end {
    padding-inline: 6em;
  }
}


@media screen and (min-width: 991px) {
  .row {
    padding-inline: 8em;
  }
}


@media screen and (min-width: 1024px) {
  .row {
    padding-inline: 3em;
  }
}